.menu {
    width: 110px;
    height: 421px;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 5px 5px 19px 0 grey;
    margin-top: 10px;
}

.menu__content {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__content_face {
    width: 70px;
    height: 70px;
}

.menu__list {
    text-align: center;
}

.menu__list ul {
    padding: 0;
}

.menu__list li {
    list-style-type: none;
    margin: 28px 0;
}

.menu__list li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu__list li a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
